{% extends 'base.html' %}
{% block title %}新增文章{% endblock %}
{% block px %}0{% endblock %}
{% block content %}
  <div class="w3-teal w3-container" style="height:650px">
    <div class="w3-padding-64 w3-padding-middle" align="center">
        <div class="w3-cell" align="left">
          <h1>新增文章至{{board.name}}</h1>
          <br>
          <p class="w3-opacity">
            {% for message in messages %}
              {{message}}
            {% endfor %}
          </p>
          <form class="w3-container w3-card w3-padding-32 w3-white" action="." method="POST">
            {% csrf_token %}
            {{add_post_form.media}}
            {{add_post_form.as_p}}
            <div class="w3-container" align="center">
              <button type="submit" class="w3-button w3-teal">完成</button>
            </div>
          </form>
        </div>
      
    </div>
  </div>
{% endblock %}