{% extends 'base.html' %}
{% block title %}收藏的貼文{% endblock %}
{% block content %}
	{% for collect in usercollect %}
		<div class="w3-main" style="margin-left:450px">
		 	<div class="w3-row w3-padding-64">
		    	<div class="w3-twothird w3-container">
		      	<a href="/board/{{ collect.board }}"><h1 class="w3-text-teal">{{ collect.board }}</h1></a>
		    	</div>
		 	</div>
		</div>
	{% endfor %}
{% endblock %}

{% block sidebar %}
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-left" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>{{ userinfo.name }}的小屋</b></h4>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'home-url' userid %}">個人簡介</a>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'collected-url' userid %}">收藏的討論板</a>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'sharelist-url' userid %}">分享的貼文</a>
<a class="w3-bar-item w3-button w3-hover-black" href="{% url 'inform-url' userid %}">通知</a>
</nav>
{% endblock %}